body{
  background-color:  #d9d9d9;
}

ul{
  list-style: none;
  text-align: center;
  
  overflow: auto;
  height: 500px;
  width: 200px;
}

.output li{
  background-color: white;
  font-size: 35px;
  border-style: solid;
}

button{
  margin-top: 2%;
}

label{
  margin-top: 3%;
}

 form{
   margin-left: -10%;
   margin-top: 5%;
   width:70%;
 }
 img{
   max-width: 75px;
   margin: 1%;
 }

 tr{
   border: 2px solid black;
   font-size: 30px;
   width: 75px;
   text-align: center;
 }

/*classes and ids*/
.row{
    height: 100vh;
}

#about{
  background-color:  #00cc00;
  height: 100%;
  bottom: 0;
  margin: 0 auto;
}

#game{
 padding-left: 5%;
}

/*.output{
  background-color: #00FFFF;
  width: 400px;
  height: 400px;
  overflow: auto;

}*/

.jumbotron {
 background-color: red;
}
 /*Media Query */
 /*green portion shrink so it doesnt go all the way down*/
