body{
  background: linear-gradient(#ff3333,#b30000);
}

ul{
  list-style: none;
  text-align: center;
  overflow: auto;
  height: 95%;
  width: 200px;
}

button{
  margin-top: 2%;
}

label{
  margin-top: 3%;
}

form{
 margin-left: -10%;
 margin-top: 5%;
 width:70%;
}

.output img{
 max-width: 75px;
 margin: 1%;
}

.output li{
background-color: white;
font-size: 35px;
border-style: solid;
}

.row{
  height: 63vh;
}

#mypic{
  width: 350px;
}

#about{
  background-color:  #00cc00;
  height: 95%;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(#006699,#99ddff);
  border-radius: 10px;
}

#about #author{
 margin-bottom: 50px;
}

#game{
 padding-left: 5%;
}

.jumbotron {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  color:white;
}
